<ion-header>
  <ion-navbar>
    <ion-title>WebGL2 Sandbox</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding class="home">
  <h2>WebGL2 Context Test</h2>
  <p>
    This page is for quickly testing various <a href="https://www.khronos.org/registry/webgl/specs/latest/2.0/">WebGL2</a> functionality in your browser.
  </p>
  <p>
    The example below shows using the vertex array object calls to create a cube along with the attribute layout calls in the vertex shader. 
    The shaders apply a simple multitexture multiply. You can edit the shaders on the fly and the page will recompile as you type with error output logging at the bottom if they fail.
  </p>
  <ion-grid>
  <ion-row class="WebGLArea">
    <ion-col id="canvasParent" width-25>
        <canvas id="outputCanvas" width="300" height="300" style="display:block;"></canvas>
    </ion-col>
    <ion-col width-40>
    <ion-list>
      <ion-item>
        <ion-thumbnail item-left>
          <img [src]="texImage0" >
        </ion-thumbnail>
        <h2>Tex Unit 0</h2>
        <form id="Texture0Form">
          <input class="FileLoader" text="hello" type="file" (change)="loadImage($event, 0)">
          <button clear item-right (click)="resetImage(0)">Reset</button>
        </form>
      </ion-item>
      <ion-item>
        <ion-thumbnail item-left>
          <img [src]="texImage1" >
        </ion-thumbnail>
        <h2>Tex Unit 1</h2>
        <form id="Texture1Form">
          <input class="FileLoader" type="file" (change)="loadImage($event, 1)">
          <button clear item-right (click)="resetImage(1)">Reset</button>
        </form>
      </ion-item>      
    </ion-list>      
    </ion-col>
    <ion-scroll scrollY="true" class="item" width="100%" height="200">
    <ion-col width-35>
    <ion-item-group>
      <ion-item-divider light>Render/View Settings</ion-item-divider>
      <ion-item>
        <ion-range [(ngModel)]="bgRed" min="0" max="255" step="1" snaps="true" (ionChange)="updateSettings()">
          <ion-label range-left class="small-text">BG-R</ion-label>
          <ion-label range-right>{{bgRed}}</ion-label>
        </ion-range>
      </ion-item>
      <ion-item>
        <ion-range [(ngModel)]="bgGreen" min="0" max="255" step="1" snaps="true" (ionChange)="updateSettings()">
          <ion-label range-left class="small-text">BG-G</ion-label>
          <ion-label range-right>{{bgGreen}}</ion-label>
        </ion-range>
      </ion-item>
      <ion-item>
        <ion-range [(ngModel)]="bgBlue" min="0" max="255" step="1" snaps="true" (ionChange)="updateSettings()">
          <ion-label range-left class="small-text">BG-B</ion-label>
          <ion-label range-right>{{bgBlue}}</ion-label>
        </ion-range>
      </ion-item>            
      <ion-item>
        <ion-range [(ngModel)]="fieldOfView" min="10" max="120" step="1" snaps="true" (ionChange)="updateSettings()">
          <ion-label range-left class="small-text">FOV</ion-label>
          <ion-label range-right>{{fieldOfView}}</ion-label>
        </ion-range>
      </ion-item>
      <ion-item-divider light>Depth Settings</ion-item-divider>
      <ion-item>
        <ion-label> Depth State</ion-label>
        <ion-toggle [(ngModel)]="depthState" (ionChange)="updateSettings()"></ion-toggle>
      </ion-item>   
      <ion-item>
        <ion-label>Depth Func</ion-label>
        <ion-select [(ngModel)]="depthFunc" (ionChange)="updateSettings()">
          <ion-option *ngFor="let opt of depthFuncOptions" [value] = "opt.value">
              {{ opt.name }}
          </ion-option>
        </ion-select>
      </ion-item>        
      <ion-item-divider light>Blend Settings</ion-item-divider>
      <ion-item>
        <ion-label> Blend State</ion-label>
        <ion-toggle [(ngModel)]="blendState" (ionChange)="updateSettings()"></ion-toggle>
      </ion-item>   
      <ion-item>
        <ion-label>Blend Src Func</ion-label>
        <ion-select [(ngModel)]="blendSrc" (ionChange)="updateSettings()">
          <ion-option *ngFor="let opt of blendSrcOptions" [value] = "opt.value">
              {{ opt.name }}
          </ion-option>
        </ion-select>
      </ion-item>       
      <ion-item>
        <ion-label>Blend Dest Func</ion-label>
        <ion-select [(ngModel)]="blendDest" (ionChange)="updateSettings()">
          <ion-option *ngFor="let opt of blendDestOptions" [value] = "opt.value">
              {{ opt.name }}
          </ion-option>
        </ion-select>
      </ion-item>
    </ion-item-group>
    </ion-col>
    </ion-scroll>
  </ion-row>
  </ion-grid>

  <ion-grid>
  <ion-row>
    <ion-col width-50>
      <ion-item>
        <ion-label stacked>Vertex Shader</ion-label>
        <ion-textarea rows="10" [(ngModel)]="vertexShader" (keyup)="updateShader()"></ion-textarea>
      </ion-item>
    </ion-col>
    <ion-col width-50>
      <ion-item>
        <ion-label stacked>Fragment Shader</ion-label>
        <ion-textarea rows="10" [(ngModel)]="fragmentShader" (keyup)="updateShader()"></ion-textarea>
      </ion-item>
    </ion-col>
  </ion-row>
  <div padding></div>
  <ion-row>
    <ion-col width-50>
      <ion-item>
        <ion-label>Vertex Out</ion-label>
        <ion-textarea [(ngModel)]="vertexShaderInfo" readOnly=""></ion-textarea>
      </ion-item>
    </ion-col>
    <ion-col width-50>
      <ion-item>
        <ion-label>Fragment Out</ion-label>
        <ion-textarea [(ngModel)]="fragmentShaderInfo" readOnly=""></ion-textarea>
      </ion-item>
    </ion-col>
  </ion-row>  
  </ion-grid>
</ion-content> 
